
.cluster_rect {

}

.organism_rect {
  stroke: black;
  z-index: 1;
  &:hover {
    stroke-width: 3px;
    z-index: 100;
  }
}

.back_cluster_line {
  z-index: 10;
}

.ancestor_line {
  z-index: 1;
}

.axis {
  path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }
  text {
    font-family: sans-serif;
    font-size: 18px;
  }
}

.x_axis {
  @extend .axis;
}

.y_axis {
  @extend .axis;
}
